$bodyTextColor: #333;
$highlightTextColor: #607D8B;
$backgroundColor: #263238;
$highlightBackgroundColor: #263238;
$cardBackgroundColor: #fff;

$h1textMax: 18em;

@import "_basics.scss";
@import "_text.scss";


